@font-face { font-family: Grinched; src: url('Grinched.otf'); } 

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Grinched', sans-serif
}

head {

    font-family: 'Grinched', sans-serif

}

body {
    
    overflow-x: hidden;
    font-family: 'Grinched', sans-serif;
    background: url("../img/bg.png") 0% 0% / cover no-repeat;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    letter-spacing: 0.6px;
    align-items: center;
    flex-direction: column;
}

a {
    text-decoration: none;
}

img {
    width: 100%; 
    height: 100%;
}

header {
    width: 80%;
    position: fixed;
    top: 20px;
    padding: 0px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

header .logo img {
    width: 0px;
}

.social-list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-top: 0px;
}

.social-list li {
    margin-right: 15px;
}

.social-list li:last-child {
    margin-right: 0px;
}

.social-list li:first-child a img {
    width: 40px;
}

.social-list li a {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    font-size: 22px;
    padding: 10px;
    transition: all 0.4s ease 0s;
    color: #fff;
}

.social-list li a img,
.social-list li a svg {
    width: 30px;
    height: max-content;
}

.main-screen {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100vh;
    overflow: hidden;
}

.main-area {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.main-area__left {
    flex-basis: 50%;
}

.main-area__right {
    max-width: 550px;
    background-color: rgba(0,0,0,.5);
    padding: 40px 30px;
    backdrop-filter: blur(10px);
    border-radius: 15px;
}

.left-title {
    font-size: 64px;
    font-weight: 900;
    margin: 0px;
}

.left-pre__title {
    font-weight: 900;
    font-size: 19px;
    margin-top: -5px;
    margin-bottom: 30px;
}

.slider-area {
    position: relative;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slider-area img {
    position: relative;
    width: 35%;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
    margin-bottom: 35px;
}

.token {
    width: 60%;
    margin-top: 25px;
    color: #fff
}

.token-title {
    margin-top: 24px;
    margin-bottom: 8px;
    color: #fff;
    font-weight: 500;
    font-size: 12px;
}

.token-line {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}

.token-line .line {
    width: 100%;
    height: 5px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 6px;
}

.token-line .progress-line {
    position: absolute;
    inset: 0px;
    background: #fff;
    height: 5px;
    border-radius: 6px;
}

.token-number {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 300!important;
    transform: translateY(-5px);
}


.pre-total {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pre-total #price-total {
    font-size: 18px;
    font-weight: 900;
}

.add-input-remove {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add-input-remove a img {
    width: 22px;
    height: auto;
    object-fit: contain;
}

.minus-btn,
.plus-btn {
    background: rgba(151, 151, 151, 0.25);
    font-size: 26px;
    font-weight: 400;
    color: #fff;
    padding: 10px 20px;
    border-radius: 6px;
}

.minus-btn {
    margin-right: 10px;
    padding: 10px 22px;
}

.plus-btn {
    margin-left: 10px;
}

.add-input-remove input {
    width: 100px;
    border: none;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    background: rgba(151, 151, 151, 0.25);
    border-radius: 6px;
    
    padding: 14px 0px;
}

.add-input-remove input:hover,
.add-input-remove input:focus {
    border: none;
    outline: none;
}

.price-box {
    font-size: 10px;
    color: rgba(255, 255, 255, 0.73);
    line-height: 170%;
}

.right-title {
    position: relative;
    font-size: 36px;
    color: rgb(255, 255, 255);
    font-weight: 900;
    margin: 0px 0px 20px;
    padding: 0 20px;
}

.right-title img {
    width: 200px;
}

.right-list {
    text-align: left;
    list-style: none;
    padding: 0px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.right-list li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 15px;
}

.right-list li .number {
    font-size: 14px;
    margin-right: 29px;
}

.right-list li .text {
    text-align: center;
    padding: 0 80px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    line-height: 1.5;
    font-weight: 500;
}

.pre-total {
    display: flex;
    justify-content: center;
    padding: 20px 28px;
    margin-bottom: 16px;
    align-items: center;
}

.price {
    color: #fff;
    margin: 10px 0px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
}

.join-btn span {
    position: relative;
    z-index: 10;
}
.cl-root {
    display: flex;
    justify-content: center;
    align-items: center;
}
#root button {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 6px;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    color: #000;
    padding: 0px 75px;
    height: 50px;
    cursor: pointer;
    transition-duration: 0.3s;
    letter-spacing: 0.5px;
    justify-content: center !important;
    background: #ffcc00;
    margin-top: 20px;
    margin-bottom: 10px;
    transition: 0.5s;
}

#root button:hover {
    background: #fff !important;
    color: #000;
    backdrop-filter: blur(10px);
    transform: scale(1.1);
    transition: 0.5s;
}

.button-box {
    display: flex;
    align-items: center;
}


.wallet-address {
    color: #fff;
    text-shadow: rgb(0, 162, 209) 0px 4px 3px;
    text-align: center;
    display: none;
}

#remaining {
    display: none;
}
.bottom-box-mobile{
    display: flex!important;
    justify-content: center!important;
    margin-top: 40px!important;
}
@media only screen and (max-width: 1400px) {
    .text{
        font-size: 12px!important;
    }
    .right-title{
        font-size: 32px!important;
    }
    .main-area__right{
        padding: 20px 0px!important;
    }
    .right-list li .text{
        padding: 0 20px!important;
    }
    .bottom-box-mobile{
        width: 200px!important;
    }
    #root button {
        padding: 0px 25px;
    }
    .main-screen{
        width: 95%;
    }

    .minus-btn,
.plus-btn {

    padding: 10px 15px;

}
.add-input-remove input{
    width: 70px;
}
.price-box{
    margin-bottom: 25px!important;
}
}
.wallet{
    display: none!important;
}

    .token{
    width: 60%;
    margin-top: 50px;
    color: #fff;
    }

    .wallet-adapter-button .wallet-adapter-button-start-icon {
        margin-right: 5px;
    }
    
    .wallet-adapter-button-start-icon {
        margin-right: 12px;
    }
    .wallet-adapter-button-end-icon, .wallet-adapter-button-end-icon img, .wallet-adapter-button-start-icon, .wallet-adapter-button-start-icon img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
    }
